<section class="about">
    <div class="about-left">
        <h1 class="about-h1">INFO </h1>
        <img align="right" src="assets/logo.jpg" alt="" class="about-logo">
    </div>
    <div class="about-right">
        <p class="about-text">
            რას ნიშნავს დეკოდენი? - 
            დეკოდენის ხელოვნება, იაპონური კულტურიდან მომდინარეობს და გულისხმობს სხვადასხვა ნივთების, მაგალითად ტელეფონის ქეისების და სხვა აქსესუარების, დეკორატიულ გაფორმებას.
            </p>
            <p class="about-text">
                რატომ Hobbo Hobby? - 
            ჩვენ გთავაზობთ უნიკალურ გამოცდილებას, სადაც თქვენი ხელები ქმნის ნამუშევრებს, რომლებიც არავის ექნება.
            ეს არის სივრცე, სადაც ფანტაზია და ხელოვნება სრულ ჰარმონიაშია.
            აქ შეგიძლიათ განახორციელოთ ნებისმიერი კრეატიული იდეა და შექმნათ საჩუქრები, რომლებიც გულს გაახარებს.
<p class="about-text">                ჩვენ გთავაზობთ უნიკალურ გამოცდილებას, სადაც თქვენი იდეები რეალობად იქცევა.
</p>
            <p class="about-text">რატომ უნდა გვესტუმროთ? - 

                Hobbo Hobby არის სივრცე, სადაც შეძლებთ დაისვენოთ, განახორციელოთ თქვენი კრეატიული იდეები და შექმნათ ნივთები, რომლებიც ყველასგან გამორჩეული იქნება.
                
                ჩვენი კომფორტული ინტერიერი და მრავალფეროვანი დეკორატიული მასალა იდეალურია, რათა თქვენი დრო სასიამოვნოდ და პროდუქტიულად გაატაროთ.
                </p>
            
        
            </div>
</section>


 <section class="instructions">
<div class="instructions-left">
<h1 class="instructions-h1">INSTRUCTIONS</h1>
<img src="assets/logo.jpg" alt="" class="instructions-logo">
<p class="instructions-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis quo odio eius, voluptates rerum temporibus aspernatur error consequuntur debitis laudantium fugit dolore, eaque illum aut, pariatur hic dolor nobis omnis Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia minima, illo omnis aliquam iure nobis molestias libero fugiat, voluptate ipsum quaerat ab quo qui, natus magni nesciunt excepturi magnam odit? </p>
</div>
<div class="instructions-right">
<div class="instructions-row">
<div class="instr-block">
  <p class="instructions-steps step-number">Step one:</p>
  <img class="instr-img" src="https://www.wikihow.com/images/thumb/f/f5/Draw-a-Good-Picture-Step-2-Version-4.jpg/aid174402-v4-728px-Draw-a-Good-Picture-Step-2-Version-4.jpg.webp" alt="">
  <p class="instructions-steps">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, </p>
</div>
<div class="instr-block">
  <p class="instructions-steps step-number">Step two:</p>
  <img class="instr-img" src="https://www.wikihow.com/images/thumb/0/0c/Draw-a-Good-Picture-Step-3-Version-4.jpg/aid174402-v4-728px-Draw-a-Good-Picture-Step-3-Version-4.jpg.webp" alt="">
  <p class="instructions-steps">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, </p>
</div>
</div>

<div class="instructions-row">

  <div class="instr-block">
     <p class="instructions-steps step-number">Step three:</p>
    <img class="instr-img" src="https://www.wikihow.com/images/thumb/c/cf/Draw-a-Good-Picture-Step-4-Version-4.jpg/aid174402-v4-728px-Draw-a-Good-Picture-Step-4-Version-4.jpg.webp" alt="">
    <p class="instructions-steps">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, </p>
  </div>

  <div class="instr-block">
    <p class="instructions-steps step-number">Step four:</p>
    <img class="instr-img" src="https://www.wikihow.com/images/thumb/b/b0/Draw-a-Good-Picture-Step-5-Version-4.jpg/aid174402-v4-728px-Draw-a-Good-Picture-Step-5-Version-4.jpg.webp" alt="">
    <p class="instructions-steps">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, </p>
  </div>

</div>
</div>
</section>





<section class="footer">

  <div class="footer-left">
    <img class="logo" src="assets/logo.jpg" alt="">
    <h1 class="footer-h1">Hobbo Hobby</h1>
    <p class="footer-p2">📍თბილისი: ირაკლი აბაშიძის N81</p>
    <p class="footer-p2">📍ბათუმი: 48 მემედ აბაშიძის გამზირი</p>

    <!-- <p class="footer-p2">📅 სამუშაო საათები: ყოველდღე 13:00-დან 20:00-მდე</p> -->
  </div>

  <div class="footer-right">
    <iframe class="footer-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d636.6940088751454!2d44.754066530505845!3d41.708815318912436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40447337cc1d6a61%3A0xd8699b110893c81f!2zODEg4YOQ4YOR4YOQ4YOo4YOY4YOr4YOY4YOhIOGDpeGDo-GDqeGDkCwg4YOX4YOR4YOY4YOa4YOY4YOh4YOYIDAxNjI!5e0!3m2!1ska!2sge!4v1735170783744!5m2!1ska!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <iframe class="footer-map batumi-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2981.283631521575!2d41.633218!3d41.6496135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406786401f510167%3A0x2ea90e9bee1ce44b!2zNDgg4YOb4YOU4YOb4YOU4YOTIOGDkOGDkeGDkOGDqOGDmOGDq-GDmOGDoSDhg5Lhg5Dhg5vhg5bhg5jhg6Dhg5gsIOGDkeGDkOGDl-GDo-GDm-GDmA!5e0!3m2!1ska!2sge!4v1749060873513!5m2!1ska!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

 </section> 
        
        
        
        
        
        

