 <section class="header">
    <div class="header-left">
      
      <a href="/" class="header-h1-a">
        <h1 class="header-h1">HOBBO HOBBY</h1>
        <p class="header-p">First decoden shop in Georgia</p>
      </a>
      
      
    </div>
  
    <div class="header-right">
      <nav class="header-nav">
       <ul class="header-ul">
        <li class="header-li"> <a routerLink="/" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact:true}" class="header-home" >HOME</a></li>
        <li class="header-li"><a routerLink="/products" routerLinkActive="active-route" class="header-a">OUR PRODUCTS</a></li>
        <li class="header-li"><a routerLink="/about" routerLinkActive="active-route" class="header-a">INFO</a></li>
        <li class="header-li"><a routerLink="/contact" routerLinkActive="active-route" class="header-a">CONTACT US</a></li>

        
       </ul>
      </nav>
    </div>
  </section> 

  