.contact{
    width: 100%;
    height: 800px;
    background-color: rgb(254, 196, 240);
    padding-top: 250px;
    display: flex;
    flex-direction: row;

}
.contact-texts{
    display: flex;
    width: 65%;
    height: 500px;

}

.contact-left{
    width: 50%;
    height: 300px;
    
}
.contact-right{
    width: 50%;
    height: 300px;
   
}
.contact-h3{
    font-size: 25px;
    margin: 30px;
}
.contact-p{
    margin: 30px;
    display: flex;
    align-items: center;
    gap: 10px;

}
.contact-link:hover{
    color: rgb(186, 13, 102);
    transition: 0.5s;
    /* border-bottom: 1px solid  rgb(115, 6, 62) ; */
    /* padding: 5px; */
}
.contact-img{
    width: 600px;
    height: 470px;
}
.contact-link{
    text-decoration: none;
    color: black;
   

}
.contactus-logo{
    font-size: 30px;
    
}
/* footer  */





@media screen and (max-width:945px){
    .footer{
        flex-direction: column;
        height: auto;

    }
    .footer-left{
        height: 300px;
        
    }
}

@media screen and (max-width: 992px) {
   
    .footer-left,
    .footer-right {
      width: 100%;
      
    }
  
  }

  @media screen and (max-width:1055px){
    /* .contact{
       flex-direction:column; 
       padding-top: 170px; 

    } */
    .contact-img{
       display: none;
       /* width: 250px;
       height: 250px; */
     
    }
   .contact-right, .contact-left{
      width: 300px;

   }
  }
    
@media screen and (max-width:1128px){
    .contact-img{
        width: 100px;
        height: 100px;
    }
}
  

  
@media screen and (max-width:1164px){
    .contact-img{
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 518px) {
    .contact {
      flex-direction: column;
      /* align-items: center; */
      height: auto; /* more responsive */
      padding-top: 100px;
      padding-top: 200px;
    }
  
    .contact-texts {
      flex-direction: column;
      width: 100%;
      height: auto;
      /* align-items: center; */
    }
  
    .contact-left,
    .contact-right {
      width: 90%;
      height: auto;
     
      /* text-align: center; */
    }
  
    .contact-right{
        margin:20px 0;
        
    }
    .contact-img {
      width: 80%;
      height: auto;
      margin-top: 20px;
    }
  }
  