.contact{
    width: 100%;
    height: 170px;
    

}
/* 
.contact-texts{
    display: flex;
    width: 65%;
    height: 500px;

}

.contact-left{
    width: 50%;
    height: 300px;
    
}
.contact-right{
    width: 50%;
    height: 300px;
   
}
.contact-h3{
    font-size: 25px;
    margin: 30px;
}
.contact-p{
    margin: 30px;
    display: flex;
    align-items: center;
    gap: 10px;

}
.contact-link:hover{
    color: rgb(186, 13, 102);
    transition: 0.5s;
    
}
.contact-img{
    width: 600px;
    height: 470px;
}
.contact-link{
    text-decoration: none;
    color: black;
   

}
.contactus-logo{
    font-size: 30px;
    
} */

/* tester */

.contact-tst{
    width: 100%;
   
    height: 800px;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.contact-tst-right{
    width: 45%;
    height: 700px;
    display: flex;
    /* background-color: rgb(84, 107, 108); */
}
.contact-link{
    text-decoration: none;
    color: black;

}

.contact-tst-left{
    width: 55%;
    height: 700px;
    /* background-color: cadetblue; */
    
}

.cntct{
    width: 425px;
    height: 160px;
    /* background-color: rgb(226, 223, 223); */
    background-color: #fae5f2;

    border-radius: 25px;
    
}

.contact-tst-h4{
    font-size: 19px;
    padding: 20px 0 15px 20px;
    color: blue;
    font-weight: bold;
}
.contact-tst-p{
    padding-left: 20px;
    font-weight: bold;
    margin-top: 2px;
}
.contact-tst-icon{
    color: rgb(226, 223, 223);
    -webkit-text-stroke: 2px blue;
    margin-right: 10px;
}
.contact-tst-icons{
   
    margin-right: 10px;
}
.cntct-row1{
    display: flex;
    /* width: 500px; */
    gap: 30px;
    margin: 10% 20%

}
.contact-map{
    width: 48%;
    height: 92%;
    margin: 10% 2% 0 0 ;
}

.cntct-2{
    /* width: 580px; */
    width: 60%;
    height: 150px;
    /* background-color: rgb(226, 223, 223); */
    background-color: #fae5f2;
    border-radius: 25px;
    margin-left: 20%;
    
}












/* 
@media screen and (max-width:945px){
    .footer{
        flex-direction: column;
        height: auto;

    }
    .footer-left{
        height: 300px;
        
    }
}

@media screen and (max-width: 992px) {
   
    .footer-left,
    .footer-right {
      width: 100%;
      
    }
  
  }

  @media screen and (max-width:1055px){
  
    .contact-img{
       display: none;
      
     
    }
   .contact-right, .contact-left{
      width: 300px;

   }
  }
    
@media screen and (max-width:1128px){
    .contact-img{
        width: 100px;
        height: 100px;
    }
}
  

  
@media screen and (max-width:1164px){
    .contact-img{
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 518px) {
    .contact {
      flex-direction: column;
      
      height: auto; 
      padding-top: 100px;
      padding-top: 200px;
    }
  
    .contact-texts {
      flex-direction: column;
      width: 100%;
      height: auto;
     
    }
  
    .contact-left,
    .contact-right {
      width: 90%;
      height: auto;
     
      
    }
  
    .contact-right{
        margin:20px 0;
        
    }
    .contact-img {
      width: 80%;
      height: auto;
      margin-top: 20px;
    }
  }
   */



@media screen and (max-width:1350px){
    .contact-tst-p{
    font-size:14px;
    }
}

@media screen and (max-width:1200px){
    .contact-tst-p{
    font-size:13px;
    }
}




@media screen and (max-width:1180px){
    .contact-tst-right{
        width: 40%;
       
     
    }
    .contact-tst-left{
  width: 60%;
    }
}


@media screen and (max-width:1000px){
    .contact-tst-right{
       flex-direction: column;
    }
.contact-map{
    width: 90%;
}
}

@media screen and (max-width:915px){

    .contact-tst{
        height:900px;
    }
    .contact-tst{
        flex-direction: column;
    }
    .contact-tst-right{
        flex-direction: row;
       width: 100%;
       padding-left: 9%;
     }
     .contact-tst-left{
        width: 100%;
      }

      .cntct-row1{
       
        
        gap: 30px;
        margin: 5% 10%
    
    }
    .cntct-2{
        margin-left: 10%;
        width: 80%;
    }
    .contact-map{
        width: 45%;
        height: 50%;
    }
    

}

@media screen and (max-width:580px){
    .contact-tst-p{
        font-size:13px;
        }
   
}

@media screen and (max-width:550px){
    .contact-tst-p, .contact-tst-h4 {
      padding-left: 10px;
        }
        .contact-tst-p{
            font-size: 12px;
        }
         .contact-tst-h4 {
            font-size: 14px;
            }
        
}




