 <section class="contact">
 <!-- 
   <div class="contact-texts">
    <div class="contact-left">
        <h3 class="contact-h3">მისამართი:</h3>
        <p class="contact-p"><a href="https://www.google.com/maps?q=81+Abashidze+St,+Tbilisi+0162,+Georgia" target="_blank" class="contact-link">
          თბილისი, ირაკლი აბაშიძის N81
        </a></p>
        <h3 class="contact-h3">სამუშაო საათები:</h3>
        <p class="contact-p">ყოველ დღე 13:00-დან 20:00-მდე</p>
    </div> 

    <div class="contact-right">
        <h3 class="contact-h3">დაგვიკავშირდით:</h3>
        <p class="contact-p"><i class="fa-solid fa-phone contactus-logo"> </i> - 510 123 456</p>
        <p class="contact-p"><i class="fa-brands fa-instagram contactus-logo"></i> - <a href="https://www.instagram.com/hobbohobby?igsh=MW9xNjB4b2ZscXUyaw==" target="_blank" class="contact-link">&#64;hobbohobby</a></p>
        <p class="contact-p"><i class="fa-brands fa-facebook contactus-logo"></i> - <a href="https://www.facebook.com/profile.php?id=61574772272401" target="_blank" class="contact-link">&#64;hobbohobby8</a></p>
        <p class="contact-p"><i class="fa-brands fa-tiktok contactus-logo"></i> - <a href="https://www.tiktok.com/@hobbohobby8?_t=ZS-8sWUmbQgTvL&_r=1" target="_blank" class="contact-link">&#64;Hobbo Hobby</a></p>
        <p class="contact-p"><i class="fa-solid fa-envelope contactus-logo"></i> - <a href="mailto:tatulidushuashvili5@gmail.com" target="_blank" class="contact-link">email&#64;gmail.com</a></p>

    </div>
   </div>
    
   <img class="contact-img" src="assets/IMG_3107.jpg" alt="">

-->   
</section> 

<!-- tester  -->

<section class="contact-tst">

<div class="contact-tst-left">

  <div class="cntct-row1">
    <div class="cntct">
      <p class="contact-tst-h4"><i class="fa-solid fa-phone contact-tst-icon"></i>ტელეფონი</p>
      <p class="contact-tst-p">
       577 11 22 33
      </p>
    </div>
    <div class="cntct">
      <p class="contact-tst-h4"> <i class="fa-solid fa-envelope contact-tst-icon"></i> ელ. ფოსტა</p>
      <p class="contact-tst-p"><a href="mailto:tatulidushuashvili5@gmail.com" target="_blank" class="contact-link">email&#64;gmail.com</a></p>
    </div>
  </div>
  
  <div class="cntct-row1">
    <div class="cntct">
      <p class="contact-tst-h4"><i class="fa-solid fa-clock contact-tst-icon"></i>სამუშაო საათები</p>
      <p class="contact-tst-p">
        ყოველ დღე 13:00-დან 20:00-მდე 
     </p>
    </div>
    <div class="cntct">
      <p class="contact-tst-h4"><i class="fa-solid fa-location-dot contact-tst-icon"></i>მისამართი</p>
      <p class="contact-tst-p"><a href="https://www.google.com/maps?q=81+Abashidze+St,+Tbilisi+0162,+Georgia" target="_blank" class="contact-link">
        თბილისი, ირაკლი აბაშიძის N81
      </a></p>
      <p class="contact-tst-p"><a href="https://maps.app.goo.gl/zSxbWAPgXGXyQ3iu9" target="_blank" class="contact-link">
        ბათუმი, 48 მემედ აბაშიძის გამზირი
      </a></p>
    </div>
    

  </div>
 
 
  <div class="cntct-2">
    <p class="contact-tst-h4"><i class="fa-solid fa-globe contact-tst-icons"></i>სოციალური ქსელები</p>

    <p class="contact-tst-p"><a href="https://www.instagram.com/hobbohobby?igsh=MW9xNjB4b2ZscXUyaw==" target="_blank" class="contact-link"> Instagram - &#64;hobbohobby</a></p>
    <p class="contact-tst-p"><a href="https://www.facebook.com/profile.php?id=61574772272401" target="_blank" class="contact-link"> Facebook - &#64;hobbohobby8</a></p>
    <p class="contact-tst-p"><a href="https://www.tiktok.com/@hobbohobby8?_t=ZS-8sWUmbQgTvL&_r=1" target="_blank" class="contact-link"> Tik Tok - &#64;Hobbo Hobby</a></p>
    

    
  </div>
</div>

<div class="contact-tst-right">
  <iframe class="contact-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d636.6940088751454!2d44.754066530505845!3d41.708815318912436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40447337cc1d6a61%3A0xd8699b110893c81f!2zODEg4YOQ4YOR4YOQ4YOo4YOY4YOr4YOY4YOhIOGDpeGDo-GDqeGDkCwg4YOX4YOR4YOY4YOa4YOY4YOh4YOYIDAxNjI!5e0!3m2!1ska!2sge!4v1735170783744!5m2!1ska!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <iframe class="contact-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2981.283631521575!2d41.633218!3d41.6496135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406786401f510167%3A0x2ea90e9bee1ce44b!2zNDgg4YOb4YOU4YOb4YOU4YOTIOGDkOGDkeGDkOGDqOGDmOGDq-GDmOGDoSDhg5Lhg5Dhg5vhg5bhg5jhg6Dhg5gsIOGDkeGDkOGDl-GDo-GDm-GDmA!5e0!3m2!1ska!2sge!4v1749060873513!5m2!1ska!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

</section>










<section class="footer">

  <div class="footer-left">
    <img class="logo" src="assets/logo.jpg" alt="">
    <h1 class="footer-h1">Hobbo Hobby</h1>
    <p class="footer-p2">📍თბილისი: ირაკლი აბაშიძის N81</p>
    <p class="footer-p2">📍ბათუმი: 48 მემედ აბაშიძის გამზირი</p>

    <!-- <p class="footer-p2">📅 სამუშაო საათები: ყოველდღე 13:00-დან 20:00-მდე</p> -->
  </div>

  <div class="footer-right">
    <iframe class="footer-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d636.6940088751454!2d44.754066530505845!3d41.708815318912436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40447337cc1d6a61%3A0xd8699b110893c81f!2zODEg4YOQ4YOR4YOQ4YOo4YOY4YOr4YOY4YOhIOGDpeGDo-GDqeGDkCwg4YOX4YOR4YOY4YOa4YOY4YOh4YOYIDAxNjI!5e0!3m2!1ska!2sge!4v1735170783744!5m2!1ska!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <iframe class="footer-map batumi-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2981.283631521575!2d41.633218!3d41.6496135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406786401f510167%3A0x2ea90e9bee1ce44b!2zNDgg4YOb4YOU4YOb4YOU4YOTIOGDkOGDkeGDkOGDqOGDmOGDq-GDmOGDoSDhg5Lhg5Dhg5vhg5bhg5jhg6Dhg5gsIOGDkeGDkOGDl-GDo-GDm-GDmA!5e0!3m2!1ska!2sge!4v1749060873513!5m2!1ska!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

 </section> 