
/* .products{
    width: 100%;
   
    height: 2000px;
   background-color: #fdedf7;
}
.products-row{
    width: 90%;
    height: 500px;

margin: auto;
 display: flex;
 margin-top: 50px;
  
}



.products-h2{
    padding-top: 200px;
    color: black;
    text-align: center;
    font-weight:500 ;
}

.our-products{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #ecc2dc;
padding:50px;

    width: 25%;
    height: 500px;
    margin: 0 auto auto auto;
    border-radius: 50px;
    
}

.products-img{
  
    width: 100%;
    height: 372px;
   
    object-fit: cover;
    
}
.products-p1, .products-p{
    text-align: center;
   margin-bottom: 10px;
  
  
}
.products-p1{
    font-weight: bold;
    margin-top: 10px;
}









 
  @media screen and (max-width: 1025px) and (min-width:665px){
    .our-products {
        height: 600px;
       
    }

  }


@media screen and (max-width: 1024px) {
    .products {
        height: auto;
        padding-bottom: 50px;
    }

    .products-row {
        flex-direction: column;
        height: auto;
        align-items: center;
        margin-top: 0;
    }

    .our-products {
        width: 80%;
        margin-bottom: 40px;
    }

    .products-img {
      
       width: auto;
        height: 390px;
        object-fit: cover;
        
    }

    .products-h2 {
        padding: 200px 0 50px 0; 
        font-size: 24px;

    }
    
}


@media screen and (max-width: 768px) {
    .products-h2 {
        font-size: 20px;
        padding-top: 200px;

    }

    

    .products-p1, .products-p {
        font-size: 14px;
    }

    .products-img {
        height: 450px;
        object-fit: cover;
    }
}

@media screen and (max-width: 541px) and (min-width:416px){
.products-img{
   object-fit: cover;
   
}
.our-products{
    height: 500px;
}
}


@media screen and (max-width: 415px){
    .products-h2{
        font-size:18px ;
    }
  
    .our-products{
        height: 400px;
    }
}
 */














 

 /* version2 */
.products-h4{
  text-align: center;
  margin: 20px 0 50px 0;
  font-weight: 100;
  color:#7e0751;
}
   .our-products {
    width: 80%;
    height: 1500px;
    padding-top: 230px;
    margin: auto;
  }
  
  .products-row {
    width: 100%;
    margin: auto;
    display: flex;
    gap: 40px;
  }
 


  .products-row + .products-row {
    margin-top: 40px;
  }
  
  .product {
    width: 30%;
    height: 450px;
    /* height: auto; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:30px;
    align-items: flex-start;
    background-color: rgba(231, 205, 221, 0.7);
    border-radius: 30px;
    
  }
  
.products-img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    margin-top: 0;
   
}

.products-p{
    margin: auto;
}





@media screen and (max-width: 1700px) {
  
    .product {
        height: auto;
        padding:25px;

      }
      .products-p{
        margin-top: 30px;
    }
    
    
  }
  @media screen and (max-width: 1530px) {
  
    .product {
        /* height: 350px; */
        padding:20px;
 
      }
  }

  
  @media screen and (max-width: 1151px) {
    .products-p{
        font-size: 14px;
    }
    
  }

  @media screen and (max-width: 1051px) {
    .products-p{
        font-size: 12px;
    }
   
  }

 
  @media screen and (max-width: 890px) {
    .our-products{
        height: 7500px;
    }
  .products-row {
    flex-direction: column;
    width: 90%;
    margin: auto;
   
  }
  .product{
    width: 70%;
    height: 550px;
    margin: auto;
  }
  .products-p{
    font-size: 18px;
}

    
  }

  @media screen and (max-width: 770px) {
    .product{
        height: 425px;
        width:300px ;
        
    }
  }

  
  @media screen and (max-width: 384px) {
    .product{
        height: 350px;
        width:250px ;
        
    }
  }

  