

.section1{
    height: 650px;
    width: 100%;
}
.case-img{
    position: relative;
    z-index: -1;
    width: 100%;
    height: 650px;
    object-position:50% 50%;
    object-fit: cover;
    
    }

    
.case-h1{
    position: absolute;
    font-size: 40px;
    
    z-index: 990;
    top: 180px;
    left: 30px;
    font-weight: 320;
    width: 350px;
    height: 270px;
    color:white;
/*   
    background-color: rgba(243, 72, 177, 0.6);
    padding-left: auto;
    padding: 15px 0 0 43px;
     */

}

/* section2 */

.section2{
    /* background-color:#f9fafa ; */
    background-color: #fae5f2;
     /* background-color: hsl(323, 66%, 72%);  */

    width:100%;
    height: 266px;
    padding: 50px;
    display: flex;
    margin-top: 0;
    

}

.socials-left, .socials-right{
    width: 50%;
    height: 200px;
    margin-left: 8%;

}
.socials-right{
    margin-left: 60px;
   
}
.socials-h1{
font-size: 50px;
font-weight: 200;
width: 310px;
margin-top: 35px;
/* margin-left: 150px; */
color: #e989c4;
/* text-align: right; */
    /* font-family: "DynaPuff", system-ui; */
    

}
.socials-p{

width:398px;
height: 101px;
font-size: 18px;
margin-bottom: 30px;
}

.socials-a{
    font-weight: 100;
    color: black;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}
 

.soc{
    width: 120px;
 
  
  gap: 10px;
    /* height: 80px; */
    height: 60px;
    margin: 40px 50px 0 0 ;
    /* border: 2px solid #e931a2; */
    border: none;
    background-color: #f1b2d9;


}
.soc-a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    /* font-family: "DynaPuff", system-ui; */
    font-weight: lighter;
}
.soc:hover{
background-color: #e989c4;
transition: 0.7s;
cursor: pointer;
}

 .section3 {
    width: 100%;
    background-color: #fae5f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* space between images */
    gap: 20px; /* spacing between images */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .phonecase1 {
    flex: 1 1 0;
    max-width: calc(33.333% - 13.33px); /* 3 images side by side with gap */
    height: auto;
    object-fit: cover;
    width: 100%;
    border: 4px solid #e989c4;
    ;
  }
  

/* section4 */
.section4{
    width: 100%;
    height: 540px;
    background-color: #fae5f2;

    display: flex;
   

}

.about-left{
   margin: 230px 0 0 200px;
   width: 50%;
}
.about-right{
   margin: 230px 0 0 100px;
   width: 50%;
}


.about-h1{
    font-size:80px;
    font-weight: 200;
    /* line-height: 75px; */
}
.about-p{
    margin-bottom: 50px;
    width: 398px;
    height: 101px;
    font-size: 18px;
        /* line-height: 75px; */

    
}
.about-a{
    font-size: 20px;
    color:black;
   
}
.about-a:hover{
    
    color:hsl(323, 45%, 48%);
    transition: 0.5s;
   
}

/* section5 */

.section5{
    background-color: #fae5f2;
    width: 100%;
    height:1356px;
    padding-top: 40px;
}
.section5 img{
    object-fit: cover;
}

.products-top{
    text-align: center;

}

.products-h1{
    font-size: 45px;
    font-weight: 100;
    padding: 50px 0;
    color:hsl(323, 50%, 65%);
    /* -webkit-text-stroke: 1.5px black; */

   

}

/* ---horizontal--- */
.horizontal{
    height: 1158px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display:flex ;
    }
    .scroll-1{
        display: flex;
        flex-direction: column;
        width: 647px;
        height: 1151px;
    }
    .scroll-img-1{
        width: 323px;
        height: 575px;
        
        
        
    }
    .scroll-img-1-top{
        margin-bottom: 15px;
    }
    /* ---- scroll2---- */
    .scroll-2{
        flex-direction: column;
        margin-left: 15px;
    }
     .top2-img{
        width: 651px;
        height: 651px;
    
    }
    .scroll-2-bottom{
        
        display: flex;
        margin-top: 15px;
    }
    .bottom2-img1,.bottom2-img2 {
    width: 318px;
    height: 481px;
    
    
    }
    
    .bottom2-img2{
        margin-left:15px;
    }
    
    /* ----scroll3-- */
    .scroll3{
        flex-direction: column;
        margin-left:15px;
    }
    .scroll3-top, .scroll3-bottom{
        display: flex;
    }
    .scroll3-bottom{
        margin-top: 18px;
    }
    .top3-img1{
        width: 366px;
        height: 565px;
    }
    .top3-img2 {
        width:296px;
        height: 565px;
        margin-left: 15px;
    }
    .bottom3-img1{
        width: 366px;
        height: 567px;
        /* margin-left: 15px; */
    }
    .bottom3-img2{
        width:296px;
        height: 567px;
        margin-left: 15px;
    }
    /* .bottom3-img{
        width:677px;
        height:579px;
        margin-top: 15px;
    } */


    /* --scroll4-- */
    .scroll4{
        flex-direction: column;
        margin-left: 15px;
    }
.scroll4-top{
    width: 904px;
    height: 602px;
    display: flex;
}
.scroll4-top-img{
    width: 452px;
    height: 602px;
    margin-right: 10px;
}

.scroll4-bottom{
    display: flex;
    margin-top: 13px;

 }

 .bottom4-img1{
    width: 532px;
    height: 535px;
 }
 .bottom4-img2{
    width: 357px;
    height: 535px;
    margin-left: 15px;
 }





/*--------------------- responsive-------------------------------------- */
/* @media screen and (max-width:1257px) and (min-width:992px){

} */
  @media screen and (max-width:1258px) and (min-width:992px){

.socials-right{
    display: flex;
   
}
.phonecase1-margin{
    margin-right: 22px;
}

.phonecase1{
width: 30%;
}
  }

@media screen and (max-width:945px){
    .footer{
        flex-direction: column;
        height: auto;

    }
    .footer-left{
        height: 300px;
        
    }
}
  @media screen and (max-width: 992px) {
    .section2,
    .section4{
      flex-direction: column;
      height: auto;
      
    }
    .section1{
        max-height: auto;
    }
  
    .socials-left,
    .socials-right,
    .phonecase1,
    .about-left,
    .about-right,
    .footer-left,
    .footer-right {
      width: 100%;
      
    }
  

    .products-h1 {
      font-size: 32px;
      padding: 40px 0;
    }
  
    .case-h1 {
      font-size: 28px;
      top: 100px;
      left: 15px;
      width: 90%;
    }
  
    .socials-h1 {
      font-size: 36px;
     
    }
  
    .socials-p {
      font-size: 16px;
      width: 100%;

    }


.phonecase1{
    
    height:100% ;
    object-fit: contain;
    width: 50%;
}
.phonecase1-margin{
    margin-right: 0;
}


    .section2{
        height: 240px ;
        padding: 10px;

    }
    .socials-left, .socials-right{
height: 100px;
    }

 
    .section3{
        height: auto;
    }
   
    .section4{
        flex-direction: column;
        height: 330px;
        padding: 50px;
        /* padding: 8%; */
    }

    .about-left{
        margin: 0;
        
    }
    .about-right{
        margin: 0;
        
    }
    .about-h1{
        font-size: 50px;
        /* width: 270px; */
        width: 100%;
        margin-bottom: 25px;
        text-align: center;
    }
    .about-p{
        width: 70%;
        margin-left: 15%;
        text-align: center;
        margin-bottom: 30px;
    }
    .about-a{
        width:100%;
        /* margin-left:3%; */
        display: inline-block;
        text-align: center;
       
    }
.socials-right{
    width: 90%;
    /* margin: 0 auto; */
    margin-left: 5%;
    display: flex;
   
}
.socials-left{
    margin-left: 5%;
    
    width: 90%;
    /* margin: 0 auto; */
}
.socials-h1{
    text-align: left;
}

  }
  @media screen and (max-width:665px){
    .about-p{
        font-size: 16px;
        width: 350px;
        height:102px;
    }
    
 
     
 }
 @media screen and (max-width:625px){
   .section5{
    height:1156px;
    
}
   
    .horizontal{
        height: 1000px;
        width: 100%;
        }
        
        .scroll-1{
           
            width: 547px;
            height: 1000px;
        }
        .scroll-img-1{
            width: 235px;
            height: 475px;
            
            
            
        }
        .scroll-img-1-top{
            margin-bottom: 15px;
        }
        /* ---- scroll2---- */
        .scroll-2{
            
            margin-left: 15px;
        }
         .top2-img{
            width: 551px;
            height: 551px;
        
        }
        .scroll-2-bottom{
            
            
            margin-top: 10px;
        }
        .bottom2-img1,.bottom2-img2 {
        width: 268px;
        height: 398px;
        
        
        }
        
        .bottom2-img2{
            margin-left:15px;
        }
        
        /* ----scroll3-- */
        .scroll3{
           
            margin-left:15px;
        }
        
        .scroll3-bottom{
            margin-top: 20px;
        }
        .top3-img1{
            width: 280px;
            height: 457px;
        }
        .top3-img2 {
            width:250px;
            height: 457px;
            margin-left: 15px;
        }
        .bottom3-img1{
            width: 280px;
            height: 485px;
           
        }
        .bottom3-img2{
            width:250px;
            height: 484px;
            margin-left: 15px;
        }
        
        .scroll4{
    
            margin-left: 15px;
        }
    .scroll4-top{
        width: 804px;
        height: 502px;
      
    }
    .scroll4-top-img{
        width: 393px;
        height: 502px;
        margin-right: 10px;
    }
    
    .scroll4-bottom{
       
        margin-top: 13px;
    
     }
    
     .bottom4-img1{
        width: 432px;
        height: 445px;
     }
     .bottom4-img2{
        width: 350px;
        height: 444px;
        margin-left: 15px;
     }
    }
    
    
 

  @media screen and (max-width:600px){
   .section1{
    height: 400px;
   }

    
}
 
@media screen and (max-width:586px){
    .soc{
        width: 100px;
        margin: 10px 20px 0 0 ;

    }
    .socials-right{
        margin-left: 15px;
    }
   

    
}

@media screen and (max-width:475px){
  .about-p{
    width: 90%;
    margin-left: 20px;
  }
  .about-a{
    margin-top: 25px;
   
  }
 
}

 
        

@media screen and (max-width: 768px) {
    
  
   
    .section4 {
      flex-direction: column;
      padding: 40px 20px;
    }
  }

  @media  screen and (max-width: 360px) and (min-width:330px) {
.about-a{
    margin-top: 50px;
}
  }
  
  @media screen and (max-width:330px) {
    .about-a{
        margin-top: 80px;
    }
      }
      

@media screen and (max-width:430px){
    .section3{
        /* height:900px; */
        flex-direction: column;
        /* width: 100%; */
        align-items: center; /* center items in column */
        padding: 0;
 
    }


   
    .phonecase1{
        width: 70% !important;
        max-width: 100%!important;
        flex: 0 0 auto !important;
        height: auto;
        display: block;
        margin:  auto;
       
    }
    .phonecase1-margin-top{
        margin-top: 20px;
    }
    .phonecase1-margin {
      margin: 0 auto; 
   
}

/* section4 horizontal */

.horizontal{
    height: 1000px;
    width: 100%;
    }
/*     
    .scroll-1{
       
        width: 547px;
        height: 900px;
    }
    */
    .scroll-img-1-top{
        margin-bottom: 15px;
    }
    /* ---- scroll2---- */
    .scroll-2{
        
        margin-left: 15px;
    }
    
    .scroll-2-bottom{
      
        margin-top: 10px;
    }

    .scroll-img-1, .bottom2-img1,.bottom2-img2,
    .top3-img1,  .top3-img2, .bottom3-img1, .bottom3-img2,
    .scroll4-top {
    width: 235px;
    height: 445px;
    
    }
    .scroll4-top-img2{
        display: none;
    }

    .top2-img, .scroll4-top-img{
        width: 485px;
        height:445px ;
    }
    .bottom4-img1,  .bottom4-img2{
        width: 220px;
        height: 445px;
    }
   
    .bottom2-img2{
        margin-left:15px;
    }
    
    /* ----scroll3-- */
    .scroll3{
       
        margin-left:15px;
    }
    
    .scroll3-bottom{
        margin-top: 15px;
    }
   
    .top3-img2 {
       
        margin-left: 15px;
    }
    
    .bottom3-img2{
        margin-left: 15px;
    }
    
    .scroll4{

        margin-left: 15px;
    }

.scroll4-top-img{
    margin-right: 10px;
}

.scroll4-bottom{
   
    margin-top: 13px;

 }


 .bottom4-img2{
    margin-left: 15px;
 }
  
  
}
  




    
    

@media screen and (max-width:422px) {
  .about-a{
    margin-top: 40px;
    
  }
  
}
  
@media screen and (max-width:377px) {
    .about-h1{
        font-size: 45px;
    }
    .section3{
        padding-top: 20px;
    }
    
      }

@media screen and (max-width:353px) {
    .about-a{
        margin-top: 60px;
      }
}
 @media screen and (max-width:345px) {
    .section4{
        height:440px ;
    }
}
@media screen and (max-width:323px) {
    .about-a{
        margin-top: 90px;
      }
}